.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.recipe {
    font-style: italic;
    width: 200px;
    display: block;
    text-align: center;
    border: 2px solid black;
    padding: 4px;
    margin: 4px auto;
}

.sub-heading {
    font-weight: bold;
    text-decoration: underline;
}

.image {
    border: 5px solid black;
}

div {
    length: auto;
    width: 300px;
    border: 2px solid black;
    padding: 5px;
    margin: 5px auto 5px 0px;
    background-color: bisque;
}